.AboutUs {
  color: black;
  .aboutUsText {
    text-align: center;
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .content-text {
      margin: 20px;
      width: 70vw;
      max-height: 160vh;
      box-sizing: border-box;
      border-radius: 20px;
      box-shadow: 10px 10px 5px gray;
      text-align: center;
      .text {
        padding: 30px;
        font-family: 'Ibarra Real Nova';
        margin-top: 40px;
      }
    }

    .MyImage {
      max-height: 100vh;
      max-width: 50%;
      border-radius: 20px;
      margin: 20px;

      .Image {
        max-height: 300px;
        max-width: 100%;
        border-radius: 20px;
        box-shadow: 10px 10px 5px gray;
      }
    }
  }

  .socialText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .text {
      align-self: center;
    }
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .social-box {
      height: 80%;
      width: 80%;

      margin: 10px 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        height: 70%;
        width: 70%;
      }
    }
  }
}
