.SingleMatch {
  color: black;
  .top-data {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;

    .gsd {
      box-shadow: 0px 0px 2px 2px gray;
      border-radius: 10px;
      width: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 20px;

      & > p {
        & > span {
          font-size: 2.3vw;
          font-weight: 800;
        }
        font-size: 2.1vw;
      }

      @media screen and (max-width: 400px) {
        width: 27vw;
      }
    }

    .umpires {
      box-shadow: 0px 0px 2px 2px gray;
      border-radius: 10px;
      width: 20vw;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      padding-right: 10px;
      flex-direction: column;

      & > h2 {
        font-size: 2.3vw;
      }
      & > p {
        font-size: 2vw;
      }

      @media screen and (max-width: 400px) {
        width: 27vw;
      }
    }
  }

  .teamvs {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    margin: 20px;
    background-color: wheat;

    & > h2 {
      font-size: 4.3vw;
    }

    & > p {
      font-size: 2.5vw;
    }
  }

  .venue {
    display: flex;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;

    .venueText {
      padding: 10px;
      margin-left: 20px;
      font-size: 4vw;
    }

    .venueOutput {
      padding: 10px;
      margin-left: 10px;
      font-size: 3vw;
    }
  }

  .toss {
    display: flex;
    margin: 20px;
    justify-content: space-around;

    & > div {
      box-shadow: 10px 10px 10px gray;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
      background-color: wheat;

      & > p > span {
        font-size: 3vw;
        font-weight: 800;
      }

      & > p {
        font-size: 2vw;
      }
    }
  }

  .winner {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: green;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }

  .manOfTheMatch {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    font-size: 2vw;

    display: flex;
    justify-content: center;
    /* Created with https://www.css-gradient.com */
    background: #85d5e5;
    background: -webkit-linear-gradient(top left, #85d5e5, #2760b5);
    background: -moz-linear-gradient(top left, #85d5e5, #2760b5);
    background: linear-gradient(to bottom right, #85d5e5, #2760b5);

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }
}
