$duration: 0.3s;

@mixin disableTapHighlightColor() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  transform: translateZ(0);
}

@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes shadow {
  0% {
    transform: translateY(6px);
    opacity: 0.4;
  }

  50% {
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    transform: translateY(6px);
    opacity: 0.4;
  }
}

@keyframes pulse {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  16.65% {
    transform: translateY(8px);
  }

  33.3% {
    transform: translateY(-6px);
  }

  49.95% {
    transform: translateY(4px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

.SingleMatch {
  // color: black;
  // .top-data {
  //   display: flex;
  //   justify-content: space-between;
  //   margin: 20px;
  //   padding: 20px;

  //   .gsd {
  //     box-shadow: 0px 0px 2px 2px gray;
  //     border-radius: 10px;
  //     width: 20vw;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: flex-start;
  //     padding-left: 20px;

  //     & > p {
  //       & > span {
  //         font-size: 2.3vw;
  //         font-weight: 800;
  //       }
  //       font-size: 2.1vw;
  //     }

  //     @media screen and (max-width: 400px) {
  //       width: 27vw;
  //     }
  //   }

  //   .umpires {
  //     box-shadow: 0px 0px 2px 2px gray;
  //     border-radius: 10px;
  //     width: 20vw;
  //     display: flex;
  //     justify-content: space-evenly;
  //     align-items: flex-end;
  //     padding-right: 10px;
  //     flex-direction: column;

  //     & > h2 {
  //       font-size: 2.3vw;
  //     }
  //     & > p {
  //       font-size: 2vw;
  //     }

  //     @media screen and (max-width: 400px) {
  //       width: 27vw;
  //     }
  //   }
  // }

  // .teamvs {
  //   display: flex;
  //   justify-content: space-around;
  //   border-radius: 10px;
  //   box-shadow: 10px 10px 10px gray;
  //   margin: 20px;
  //   background-color: wheat;

  //   & > h2 {
  //     font-size: 4.3vw;
  //   }

  //   & > p {
  //     font-size: 2.5vw;
  //   }
  // }

  // .venue {
  //   display: flex;
  //   border-radius: 10px;
  //   margin: 20px;
  //   box-shadow: 10px 10px 10px gray;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .venueText {
  //     padding: 10px;
  //     margin-left: 20px;
  //     font-size: 4vw;
  //   }

  //   .venueOutput {
  //     padding: 10px;
  //     margin-left: 10px;
  //     font-size: 3vw;
  //   }
  // }

  // .toss {
  //   display: flex;
  //   margin: 20px;
  //   justify-content: space-around;

  //   & > div {
  //     box-shadow: 10px 10px 10px gray;
  //     border-radius: 10px;
  //     padding: 20px;
  //     margin: 10px;
  //     background-color: wheat;

  //     & > p > span {
  //       font-size: 3vw;
  //       font-weight: 800;
  //     }

  //     & > p {
  //       font-size: 2vw;
  //     }
  //   }
  // }

  // .winner {
  //   margin: 20px;
  //   padding: 20px;
  //   border-radius: 20px;
  //   box-shadow: 10px 10px 10px gray;
  //   font-size: 2vw;
  //   font-weight: 500;
  //   display: flex;
  //   justify-content: center;
  //   background-color: green;

  //   @media screen and (max-width: 600px) {
  //     font-size: 3vw;
  //   }
  // }

  // .manOfTheMatch {
  //   margin: 20px;
  //   padding: 10px;
  //   border-radius: 10px;
  //   box-shadow: 10px 10px 10px gray;
  //   font-size: 2vw;

  //   display: flex;
  //   justify-content: center;
  //   /* Created with https://www.css-gradient.com */
  //   background: #85d5e5;
  //   background: -webkit-linear-gradient(top left, #85d5e5, #2760b5);
  //   background: -moz-linear-gradient(top left, #85d5e5, #2760b5);
  //   background: linear-gradient(to bottom right, #85d5e5, #2760b5);

  //   @media screen and (max-width: 600px) {
  //     font-size: 3vw;
  //   }
  // }

  .teamVsTeamBlock {
    height: 35vw;
    display: flex;

    .firstTeam {
      width: 50%;
      background-color: #eec0c6;
      background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;

      .teamName {
        font-size: 4vw;
        color: darkolivegreen;
        font-weight: 700;
      }
    }
    .secondTeam {
      width: 50%;
      background-color: #90d5ec;
      background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);

      display: flex;
      justify-content: center;
      align-items: center;

      .teamName {
        font-size: 4vw;
        color: darkolivegreen;
        font-weight: 700;
      }
    }
  }

  .gsd {
    background-color: wheat;
    height: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .gameNumber {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vw;
      box-shadow: 3px 3px 4px gray;
      width: 20vw;
      color: black;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      flex-direction: column;
      font-size: 2vw;
      border-radius: 10px;

      & > h2 {
        display: flex;
        justify-content: center;
      }
    }

    .season {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20vw;
      box-shadow: 3px 3px 4px gray;
      width: 20vw;
      color: black;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      font-size: 2vw;
      border-radius: 10px;
    }

    .date {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vw;
      color: black;
      box-shadow: 3px 3px 4px gray;
      width: 20vw;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      flex-direction: column;
      font-size: 2vw;
      border-radius: 10px;
    }

    & > div:hover {
      box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .hover {
    position: relative;
    transition-duration: $duration;
    transition-property: transform;

    @include disableTapHighlightColor();
    @include hardwareAccel();

    &:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
      ); /* W3C */
      transition-duration: $duration;
      transition-property: transform opacity;
    }

    &:hover {
      transform: translateY(-6px);
      animation-name: hover;
      animation-duration: 1.5s;
      animation-delay: $duration;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      &:before {
        opacity: 0.6;
        transform: translateY(6px);
        animation-name: shadow;
        animation-duration: 1.5s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }

  .venue {
    height: 25.7vw;
    display: flex;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

    .venueImage {
      display: flex;
      width: 50%;
    }

    .venueName {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 2.7vw;
    }
  }

  .toss {
    height: 30vw;
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .tossInside {
      width: 21vw;
      height: 21vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      border-radius: 10px;
      color: #f97d8e;

      & > h3 {
        font-size: 3vw;
      }
      & > p {
        font-size: 2vw;
        color: black;
        font-weight: 600;
      }
    }
  }

  .winner {
    height: 30vw;
    background-color: #b1bfd8;
    display: flex;
    justify-content: center;
    align-items: center;

    .winnerName {
      height: 25vw;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border-radius: 10px;
      background-color: #90d5ec;
      background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);

      & > h3 {
        font-size: 3vw;
      }
      & > h2 {
        display: none;
        font-size: 3vw;
      }

      &:hover {
        & > h3 {
          display: none;
        }
        & > h2 {
          display: flex;
        }
        background-color: #3bb78f;
        background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
      }
    }
  }

  .manOfMatch {
    height: 30vw;
    background-color: #85dcb8;
    display: flex;
    justify-content: center;
    align-items: center;

    .playerName {
      height: 25vw;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border-radius: 10px;
      background: linear-gradient(
        to right,
        rgb(252, 74, 26),
        rgb(247, 183, 51)
      );
      font-size: 3vw;

      & > h2 {
        display: none;
      }

      &:hover {
        & > h3 {
          display: none;
        }

        & > h2 {
          display: flex;
        }

        background: linear-gradient(
          135deg,
          rgb(252, 207, 49) 10%,
          rgb(245, 85, 85) 100%
        );
      }
    }
  }

  .umpires {
    height: 30vw;
    background: linear-gradient(
      109.5deg,
      rgb(13, 11, 136) 9.4%,
      rgb(86, 255, 248) 78.4%
    );
    display: flex;
    justify-content: space-around;
    align-items: center;

    .umpire {
      width: 21vw;
      height: 21vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      border-radius: 10px;
      color: #f97d8e;
      font-size: 2vw;

      & > h2 {
        display: none;
      }

      &:hover {
        & > h3 {
          display: none;
        }

        & > h2 {
          display: flex;
          font-size: 1.7vw;
        }
      }
    }
  }

  .rotate {
    transition-duration: $duration;
    transiton-property: transform;

    &:hover {
      transform: rotate(45deg);
    }
  }

  .pulse {
    @include disableTapHighlightColor();
    @include hardwareAccel();

    &:hover {
      animation-name: pulse;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-direction: reverse;
    }
  }

  .shake {
    @include disableTapHighlightColor();
    @include hardwareAccel();

    &:hover {
      animation-name: shake;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: reverse;
    }
  }
}
