.TeamPageOuter {
  .Header {
    width: 100%;
  }
  .TeamPage {
    margin: auto 10px;

    .TeamPage1 {
      display: flex;
      justify-content: space-around;
    }

    .smallCards {
      display: flex;
      flex-wrap: wrap;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;

      .smallCard {
        margin: 5px;
        width: 25%;
      }
    }

    .team-name-section {
      grid-column: span 3;
      justify-self: start;
      align-self: end;
    }

    .team-name {
      font-size: 2.7rem;
      color: black;
    }

    .win-loss-section {
      justify-self: flex-end;
      padding: 20px;
      text-align: end;
      width: 20vw;
    }

    .match-detail-section {
      display: flex;
      justify-content: center;
      align-items: center;
      left: 5px;
      right: 5px;
      margin-top: 20px;
    }

    .more-link {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7vh;
      width: 7vw;
      background-color: bisque;
      margin-left: 10vw;
      margin-top: 9vw;
    }

    .more {
      align-self: center;
      justify-self: center;
      font-size: 1.8vw;
      &:hover {
        font-size: 2.05vw;
      }
    }
  }
}
