.YearSelector {
  list-style: none;
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  outline: 1px solid wheat;
  border-radius: 5px;
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  width: 70px;
  // height: 10vh;
  height: 50px;

  @media screen and (max-width: 700px) {
    height: 30px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-right: 10px;
    margin-left: 10px;
    color: whitesmoke;

    .text {
      color: azure;
      font-size: 1.3vw;
      align-self: center;

      @media screen and (max-width: 500px) {
        font-size: 2vw;
      }
    }
  }
}
