.YearSelector {
  list-style: none;
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  outline: 1px solid wheat;
  border-radius: 5px;
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  max-width: 15vw;
  max-height: 10vh;

  .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: whitesmoke;

    .text {
      color: azure;
      font-size: 1.3vw;
      align-self: center;

      @media screen and (max-width: 500px) {
        font-size: 2vw;
      }
    }
  }
}
