.Header {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .Logo {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
  }

  .Home {
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: azure;
    display: flex;
    justify-content: space-around;

    .text {
      color: azure;
      margin-left: 20px;
      &:hover {
        background-color: azure;
        border-radius: 2px;
        color: black;
      }
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
  }
}
