.MatchDetailCard {
  width: 90vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .text {
    color: purple;
    font-size: 5vw;
  }
  .match-date,
  .match-venue,
  .match-result {
    margin-top: 10px;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }

  .additonal-detail {
    text-align: right;
    & > p,
    h3 {
      margin-bottom: 10px;

      @media screen and (max-width: 600px) {
        font-size: 3vw;
      }
    }
  }
  .GetMatch {
    height: 5vh;
    width: 17vw;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

    &:hover {
      background-color: azure;
    }

    @media screen and (max-width: 500px) {
      font-size: 3vw;
      border-radius: 8px;
      height: 3vh;
      width: 14vw;
    }
  }
}
